{% extends "::base.html.twig" %}
{% block headertitle %}
    <h1></h1>
{% endblock %}

{% block body %}
    <div class="col-md-4">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="row">
                <div class="col-md-4">
                    <div id="menu-settingsLeftBlock">
                        <a href="{{ path('admin_route') }}"> <div class="return-button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><p>Back</p></div></a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        {% if is_granted('ROLE_COACH')and not is_granted('ROLE_ADMIN') %}
            <div class="backbutton">
                <a href="{{ path('coach_route')}}" type="button" class="btn btn-default" data-toggle="tooltip" title="Coach Home">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
                </a> </div>
        {% endif %}
    </div>
    <div class="row col-md-4 passwordform">
        <div class="col-md-3">{{ form_start(form) }}</div>
        <div class="col-md-6">{{ form_widget(form) }}</div>
        <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Password Edited!</p>
                        <a data-dismiss="modal"><div class="col-md-5 nice-button"><p>Ok</p></div></a>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" id="pw_button" class="nice-button half-button form-button edit col-md-3">
            <span class="glyphicon glyphicon-floppy-disk editPwglyph" aria-hidden="true"></span>
            <p>Change Password</p>
        </button>
        {{ form_end(form) }}



    </div>
    <div class="col-md-4"></div>


{% endblock %}
{% block javascripts %}
    <script>
        $("#form").submit(function(e){
            e.preventDefault();
            $("#passwordModal").modal("show");
        });
    </script>
{% endblock %}