{% extends "::base.html.twig" %}
{% block title %}
    Edit password
{% endblock %}
{% block headertitle %}
    <h1>Change password</h1>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">  {% if message %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endif %}
        </div>


    </div>
    <div class="row">
        <div class="col-md-4">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="row">
                    <div class="col-md-4">
                        <div id="menu-settingsLeftBlock">
                            <a href="{{ path('admin_route') }}">
                                <div class="return-button"><span class="glyphicon glyphicon-chevron-left"
                                                                 aria-hidden="true"></span>
                                    <p>Back</p></div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}


            {% if is_granted('ROLE_COACH')and not is_granted('ROLE_ADMIN') %}
                <div class="row">
                    <div class="col-md-4">
                        <div id="menu-settingsLeftBlock">
                            <a href="{{ path('coach_route') }}">
                                <div class="return-button"><span class="glyphicon glyphicon-arrow-left"
                                                                 aria-hidden="true"></span>
                                    <p>Back</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


            {% endif %}
        </div>
        <div class="row col-md-4 passwordform">
            <div class="col-md-3">{{ form_start(form) }}</div>
            <div class="col-md-6">{{ form_widget(form) }}</div>

            <button type="submit" id="pw_button" class="nice-button half-button form-button edit col-md-3">
                <span class="glyphicon glyphicon-floppy-disk editPwglyph" aria-hidden="true"></span>
                <p>Change Password</p>
            </button>

            {{ form_end(form) }}


        </div>
    </div>


{% endblock %}
