{% extends "::base.html.twig" %}

{% block title %}Coach{% endblock %}

{% block headertitle %}<h1>Habit Overview for {{ customer.first_name }} {{ customer.last_name }}</h1>{% endblock %}

{% block body %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/jquery.mobile.custom.min.js') }}"></script>
        <script src="{{ asset('js/coach.js') }}"></script>
    {% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/coach.css') }}">
    {% endblock %}
<div class="container">
    <form action="{{ path('update_habits') }}" method="post">
        <p>Habit 1</p>
        <input class="form-control" type="text" name="habit1" value="{{ customer.habit1 }}"/>
        <p>Habit 2</p>
        <input class="form-control" type="text" name="habit2" value="{{ customer.habit2 }}"/>
        <p>Habit 3</p>
        <input class="form-control" type="text" name="habit3" value="{{ customer.habit3 }}"/>
        <input id="habitsSubmitButton" type="submit" class="btn btn-default btn-lg" value="Bewerk"/>
    </form>
</div>
{% endblock %}
