{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block headertitle %}
    <h1>Welcome to Lifestyle</h1>
{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    (ADMIN):  {{ app.user.username }}
{% elseif is_granted('ROLE_COACH') %}
    (COACH): {{ app.user.username }}
{% else %}
    (Anonymous)
{% endif %}
<div>
    <a href={{ path("loginroute") }}> Login</a>
    </div>
    <p><span><label>H</label>eyy.....</span>What would you like to do?</p>
    <div id="menu-buttons" class="row">
        <div class="col-md-3"></div>
        <div>
            <a href={{ path("adminroute") }}> <div class="col-md-3 nice-button"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><p>Admin</p></div></a>
            <a href={{ path("coachroute") }}> <div class="col-md-3 nice-button"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span><p>Coach</p></div></a>
        </div>
    </div>
{% endblock %}