{% extends "::base.html.twig" %}

{% block headertitle %}<h1>Habit Overview for {{ customer.first_name }} {{ customer.last_name }}</h1>{% endblock %}

{% block body %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/jquery.mobile.custom.min.js') }}"></script>
        <script src="{{ asset('js/coach.js') }}"></script>
    {% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/ProfileLayout.css') }}">
    {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% if is_granted('ROLE_COACH') %}
                    <div class="row">
                        <div class="col-md-4">
                            {% if is_granted('ROLE_COACH') %}
                                <div id="menu-settingsLeftBlock">
                                    <a href="{{ path('customer_overview') }}"> <div class="return-button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><p>Back</p></div></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <form action="{{ path('update_habits', {'id':customer.id}) }}" method="POST">
            {% if is_granted('ROLE_ADMIN') %}
            <p>First Name</p>
            <input class="form-control" type="text" name="habit1" value="{{ customer.first_name }}"/>
            <p>Last Name</p>
            <input class="form-control" type="text" name="habit1" value="{{ customer.last_name }}"/>
            {% endif %}
            <p>Habit 1</p>
            <input class="form-control" type="text" name="habit1" value="{{ customer.habit1 }}"/>
            <p>Habit 2</p>
            <input class="form-control" type="text" name="habit2" value="{{ customer.habit2 }}"/>
            <p>Habit 3</p>
            <input class="form-control" type="text" name="habit3" value="{{ customer.habit3 }}"/>
            <input type="submit" id="habitsSubmitButton" class="btn btn-default btn-lg" value="Edit Customer"/>
        </form>
    </div>
{% endblock %}
