    <div class="row">
        <div class="col-md-4">
            <table id="table" class="table">
                <thead>
                <tr>
                    <td>First Name</td>
                    <td>{{ customer.first_name }}</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>{{ customer.last_name }}</td>
                </tr>
            </thead>
            </table>
        </div>

    </div>
    </br>
    </br>

    <table id="table" class="table">
        <thead>
        <tr style="font-weight:bold;" >
            <th>Date</th>
            <th>{{ customer.habit1 | capitalize }}</th>
            <th>{{ customer.habit2 | capitalize }}</th>
            <th>{{ customer.habit3 | capitalize }}</th>
            <th>Weight</th>
            <th>Calories</th>


        </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{ report.created_at | date("d/m/Y")}}</td>
                {% if report.habit1_done==1 %}
                <td style="color:green;"> V</td>
                {% else %}
                    <td style="color:red;"> X</td>
                {% endif %}

                {% if report.habit2_done==1 %}
                    <td style="color:green;"> V</td>
                {% else %}
                    <td style="color:red;"> X</td>
                {% endif %}

                {% if report.habit3_done==1 %}
                     <td style="color:green;"> V</td>
                {% else %}
                      <td style="color:red;"> X</td>
                {% endif %}

                <td>{{ report.weight }}</td>
                <td>{{ report.calories }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
